In [1]:
import pandas as pd

Leyendo datos con read_csv()

CSV significa Comma Separated Values

In [ ]:
# El archivo csv para este ejercicio se encuentra en la siguiente ruta.
# https://andybek.com/pandas-drinks

pd.read_csv('https://andybek.com/pandas-drinks').head()

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan            NaN  ...            NaN                           NaN
1      Albania           89.0  ...           54.0                           4.9
2      Algeria           25.0  ...           14.0                           0.7
3      Andorra          245.0  ...          312.0                          12.4
4       Angola          217.0  ...           45.0                           5.9

[5 rows x 5 columns]

In [ ]:
# Limitamos el número de columnas
pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'])

         country  wine_servings
0    Afghanistan            NaN
1        Albania           54.0
2        Algeria           14.0
3        Andorra          312.0
4         Angola           45.0
..           ...            ...
188    Venezuela            3.0
189      Vietnam            1.0
190        Yemen            NaN
191       Zambia            4.0
192     Zimbabwe            4.0

[193 rows x 2 columns]

In [ ]:
# Usando la columna country como indice 
# Y asignando el resultado a la variabe alcohol
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col=['country'])

In [ ]:
# Como vemos el tipo de dato que regresa es un DataFrame. 
type(alcohol)

pandas.core.frame.DataFrame

In [ ]:
# Existe un parámetro de la función read que permite regresar una Serie 
# siempre que el Dataframe tenga una única columna.

alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col=['country'], squeeze=True)
type(alcohol)

pandas.core.series.Series

In [ ]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64