## Leccion 12 Los métodos head() y tails()

In [1]:
import pandas as pd

In [8]:
# los métodos head() y tails()  nos permiten dar un vistazo a la información de un elemento de Pandas.
# Creamos una serie de 60 elementos
int_series = pd.Series(i for i in range(60))

In [12]:
# Podemos verificar si los elementos fueron creados con el atributo size
int_series.size

60

In [13]:
# También podemos usar la función len de python
len(int_series)

60

In [9]:
# Pero visualizar el total de elementos puede no ser muy comodo.
int_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [10]:
# El método head nos permite visualizar los primeros elementos de la Serie
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [15]:
# el método tails nos permite visualizar los últimos elementos de la serie.
int_series.tail()

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [11]:
# Podemos modificar la cantidad de elementos desplegados. 
int_series.head(15)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [16]:
# En series muy grandes los elementos serán omitidos automáticamenente
pd.Series(range(1000))

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64

In [19]:
#Esto puede modificarse en las opciones como sigue:
pd.options.display.min_rows = 40

In [18]:
pd.Series(range(1000))

0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10
11      11
12      12
13      13
14      14
15      15
16      16
17      17
18      18
19      19
      ...
980    980
981    981
982    982
983    983
984    984
985    985
986    986
987    987
988    988
989    989
990    990
991    991
992    992
993    993
994    994
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64