
# Leccion 43 - Dropping and Filling NAs

In [ ]:
import pandas as pd
import numpy as np
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'] ,index_col=['country'], squeeze=True)

In [ ]:
#Revisamos los primeros registros y vemos que contiene valores NAN
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [ ]:
#Aplicamos el método dropna y revisamos nuevamente, los NAN ya no aparecen.
alcohol.dropna().head()

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Name: wine_servings, dtype: float64

In [ ]:
#La ejecución de dropna no afecta la serie original, para modificarla podemos usar inplace. o reasignar a la misma variable
#alcohol = alcohol.dropna()
alcohol.dropna(inplace=True)
alcohol

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [ ]:
#También Podemos sustituir los NAN por algún valor más significativo con fillna()
alcohol.fillna('valor vacío', inplace=False)

country
Afghanistan    valor vacío
Albania                 54
Algeria                 14
Andorra                312
Angola                  45
                  ...
Venezuela                3
Vietnam                  1
Yemen          valor vacío
Zambia                   4
Zimbabwe                 4
Name: wine_servings, Length: 193, dtype: object